### 문자열과 숫자 연산 
#### 1) 덧셈: "문자열" 기준으로 형변환(type casting)

In [1]:
'1' + 0

'10'

In [2]:
'1' + '2'

'12'

In [3]:
'1' + '2' + 0

'120'

In [4]:
'1' + NaN

'1NaN'

In [5]:
'1' + Infinity

'1Infinity'

### 문자열과 숫자 연산 
#### 2) 덧셈 외(뺄셈,곱셈,나눗셈): "숫자" 기준으로 형변환(type casting)

In [6]:
'1' - 0

1

In [8]:
'10' * 5

50

In [9]:
1 / '10'

0.1

In [12]:
// '3월'의 typecast는 parseInt가 아니라 Number임
'3월' - 1

NaN

In [11]:
Number('3월')

NaN